button:hover {
  cursor: pointer;
  background: #886176;
  transition: all 300ms ease-in-out;
  color: white;
} 

button {
  background: none;
  border: solid 2px #886176;
  padding: 10px 20px;
  font-size: 2vh;
  color: #886176;
  margin-bottom: 5vh;
  margin-top: -2vh;
  margin: 10px 0px;
}

@media (min-width: 320px) and (max-width: 989px) {
  button {
    width: 90vw;
  }
}
/* ipad and laptops  */
@media (min-width: 990px) {
  button {
    width: 75%;
  }
}
