.nav-button {
    background: none;
    border: solid 2px #886176;
    padding: 10px 20px;
    font-size: 2vh;
    color: #886176;
    margin-bottom: 5vh;
    margin-top: -2vh;
    margin: 10px 40px;
  }
  
  .nav-button:hover {
    cursor: pointer;
    background: #886176;
    transition: all 300ms ease-in-out;
    color: white;
  } 
  
  .nav-buttons {
    background: #D9DCD6;
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }