.nav-buttons {
  background: #D9DCD6;
  width: 100vw;
}

  /* mobile */
@media (min-width: 320px) and (max-width: 989px) {
  .nav-buttons {
    display: flex;
    flex-direction: column;
  }
}
/* ipad and laptops  */
@media (min-width: 990px) {
  .nav-buttons {
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}